.main-footer {
  color: white;
  background-color: #0F0F0F;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  bottom: 0;
  width: 100%;
  border:none;
}

.Footer-PoweredBy{
  text-align: center;
  margin: 1.5em 0;
}