.App {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}

html{
  background-color: grey;
}

.row {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.col {
  margin:2em;
}

.unstyled-list{
  text-decoration: none;
  list-style: none;
  
}