/* *{
  border:1px solid red;
} */
.App {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

html{
  background-color: #1B1A21;
  scroll-behavior: smooth;
}


.unstyled-list{
  text-decoration: none;
  list-style: none;
  padding:0;
  
}

.content-wrap{
  background-color:#1B1A21;
  color:white;
}

.MuiInputBase-input{
  
}